body{
	background-color:  #EEEEEE;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
/*Sidebar - START*/
.sidebar, .main-panel {
    -webkit-transition-property: top,bottom;
    transition-property: top,bottom;
    -webkit-transition-duration: .2s,.2s;
    transition-duration: .2s,.2s;
    -webkit-transition-timing-function: linear,linear;
    transition-timing-function: linear,linear;
    -webkit-overflow-scrolling: touch;
}
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar:before{
    opacity: .33;
}
.sidebar:after, .sidebar:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.sidebar .logo {
    position: relative;
    padding: 15px 15px;
    z-index: 4;
}
.sidebar .sidebar-wrapper {
    position: relative;
    height: 430px;
    overflow: auto;
    width: 260px;
    z-index: 4;
    overflow-x: hidden;
}
.sidebar .nav, .off-canvas-sidebar .nav {
    margin-top: 20px;
}
.sidebar .nav li > a {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
    margin: 10px 15px;
    border-radius: 3px;
    color: #3C4858;
    background-color: transparent;
}
.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}
a .material-icons {
    vertical-align: middle;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.content-wrapper-sidebar {
	width: 100%;
    height: 611px;
    border: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
/*Sidebar - END*/
/*Footer - START*/
footer {
    border-top: 1px solid #e7e7e7;
}
footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
footer ul li {
    display: inline-block;
}
footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}
footer .copyright {
    padding: 15px 0;
    margin: 0;
}
/*Footer - END*/
/*Main - START*/
.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}
.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}
.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}
.card .card-content {
    padding: 15px 20px;
}
.iframe-container {
    margin: 0 -20px 0;
}
.iframe-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.card-plain {
    background: transparent;
    box-shadow: none;
}
.content-wrapper{
	width: 100%;
    height: 500px;
    border: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}
.navbar-form .form-group {
    margin: 0; 
    padding: 0; 
}
.navbar-form .form-control {
    border-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    height: 28px;
    font-size: 14px;
    line-height: 1.42857;
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}
.navbar-form .btn {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-form .btn.btn-just-icon i{
    width: 20px;
}
.btn.btn-just-icon{
    font-size: 20px;
    padding: 12px 12px;
    line-height: 1em;
}
.btn.btn-round{
    border-radius: 30px;
}
.btn.btn-white, .btn.btn-white:focus, .btn.btn-white:hover{
    background-color: #FFFFFF;
    color: #999999;
}
.btn, .btn.btn-default{
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
.btn, .navbar .navbar-nav > li > a.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 30px;
    margin: 10px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-form .btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: -1px;
    position: relative;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}
/*Main - END*/

/*Side List -START*/
.map-list.map-list-with-icon {
    padding-left: 65px;
}
.map-list.map-list-info {
    background-color: #00d3ee;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.map-list {
    border: 0;
    border-radius: 0;
    position: relative;
    padding: 20px 15px;
    line-height: 20px;
    margin-bottom: 20px;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    font-size: inherit;
    color: #FFFFFF;
    opacity: .9;
    text-shadow: none;
	float: right;
	font-weight: 700;
    line-height: 1;
}
.map-list i[data-notify="icon"] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}
.map-list span {
    display: block;
    max-width: 89%;
}
.sidebar[data-color="red"] .moving-tab {
    background-color: #f44336;
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.moving-tab {
    position: absolute;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px 15px;
}
.moving-tab i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #FFFFFF;
}
.moving-tab p {
    margin: 0;
    line-height: 30px;
}
.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}
.sidebar .sidebar-background:after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: #FFFFFF;
    opacity: .93;
}
.sidebar .nav li:hover > a, .sidebar .nav li.active:focus {
    background: rgba(200, 200, 200, 0.2);
    color: #3C4858;
}
/*Side List -END*/

/*Header - START*/
.navbar .notification{
	position: absolute;
    top: 5px;
    border: 1px solid #FFF;
    right: 10px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}
.right-header a{
	color:#555555;
}
.logo{
	padding: 15px 15px;
}
.simple-text{
	text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 18px;
    color: #3C4858;
    text-align: left;
    font-weight: 400;
    line-height: 30px;
}
.logo-img{
	width: 30px;
    display: inline-block;
    max-height: 30px;
    margin-left: 10px;
    margin-right: 15px;
}
.logo-img img{
    width: 35px;
    top: 16px;
    position: absolute;
}
/*Header - END*/